[Unit]
Description=2ndBrain Slack Listener
After=network.target rclone-2ndbrain.service

[Service]
Type=simple
EnvironmentFile=%h/2nd_brain/.env
Environment=PYTHONUNBUFFERED=1
ExecStart=%h/2nd_brain/.venv/bin/python -m src.brain.app
WorkingDirectory=%h/2nd_brain
Restart=always

[Install]
WantedBy=default.target

