[Unit]
Description=RClone Bisync timer for 2ndBrain (every 30s)

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=5s

[Install]
WantedBy=timers.target
